<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="gov.android.selinux">

    <application>
        <uses-library android:name="android.test.runner" />
    </application>

    <instrumentation android:name=".SELinuxTestRunner"
        android:targetPackage="gov.android.selinux"
        android:label="SELinux test automation runner"
    />

</manifest>
